doctype html
html(lang="fr")
	head
		meta(charset="UTF-8")
		title= title
		link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet", type="text/css", href="./assets/css/style.css")
	body
		main
			section#sidebar(aria-label="Tabs")
				#tabs
					a#search(class={selected: current == "research"}, href="./research")
						i.fa.fa-search.fa-lg(aria-hidden="true")
						|  Search
					a#playlist(class={selected: current == "playlist"}, href="./playlist")
						i.fa.fa-star.fa-lg(aria-hidden="true")
						|  Playlist
			article#mainPage
				block content
		script(type="text/javascript", src="./assets/js/jquery-3.2.1.min.js")
		script(type="text/javascript", src="./assets/scripts/generalMusic.service.js")
		block otherScripts