extends layout

block content
	h1 Playlist
	p(hidden="") There is no music in the playlist
	table
		thead
			tr
				th
				th API
				th Name
				th Artist
				th Time
				th
		tbody

block otherScripts
	script(type="text/javascript", src="./assets/scripts/playlist.controller.js")